body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #121212;
  margin: 0rem;
  overflow: hidden;
}

h1 {
  font-family: 'Space Mono', monospace;
  font-size: clamp(2rem, 8vw, 8rem);
  color: rgb(255, 0, 0);
  padding: 0rem clamp(0.5rem, 1.5vw, 2rem);
  border-radius: clamp(0.3rem, 0.5vw, 0.8rem);
}

