body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #121212;
  margin: 0;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-family: 'Space Mono', monospace;
  font-size: clamp(1.5rem, 5vw, 5vw);
  color: black;
  padding: 1.2rem 3rem;
  border-radius: 12px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease;
}

h1::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 110%;
  height: 130%;
  background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
  border-radius: 12px;
  z-index: -1;
  transition: background 0.3s ease;
}

h1:hover::before {
  background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

h1:hover {
  transform: none;
}

h1:active {
  transform: none;
  background-color: transparent;
}